<div id="cards-<%= story.id %>" class="cards">
  <%= render 'dashboard/stories/votes', story_id: story.id, reveal: false %>
</div>

<div id="vote-<%= story.id %>" class="btn-votes">
  <% project.point_scale.split(',').each do |point| %>
    <%= link_to point, vote_path(story.id, point, encoded_user), class: 'btn btn-default', remote: true %>
  <% end %>

  <%= link_to t('reset'), reset_path(story.id, encoded_user), class: 'btn btn-warning action-vote', remote: true %>
  <%= link_to t('reveal'), reveal_path(story.id), class: 'btn btn-info pull-right action-vote', remote: true %>
</div>