<div id="project-info" class="widget">  
  <h2 class="titles">
    <%= t('projects.info') %>
  </h2>

  <ul>
    <li>
      <div class="row">
        <div class="col-md-4 story-labels">
          <%= t('projects.id') %>
        </div>
        <div class="col-md-8">
          <%= project.id %>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-md-4 story-labels">
          <%= t('projects.name') %>
        </div>
        <div class="col-md-8">
          <%= project.name %>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-md-4 story-labels">
          <%= t('projects.labels') %>
        </div>
        <div class="col-md-8">
          <%= project.label_list %>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-md-4 story-labels">
          <%= t('projects.scheme') %>
        </div>
        <div class="col-md-8">
          <%= "Averaged over #{project.velocity_averaged_over} weeks" %>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-md-4 story-labels">
          <%= t('projects.scale') %>
        </div>
        <div class="col-md-8">
          <%= comma_separated project.point_scale %>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-md-4 story-labels">
          <%= t('Google Hangouts') %>
        </div>
        <!-- Create Switch for a button here -->
        <% results = Project.where(pivotal_id: project.id.to_s) %>
        <% if !results.any? %>
          <div class="col-md-8">
            <%= link_to "Click here to create Google Hangouts meeting.", makehangout_path(:project_id => project.id) %>
          </div>
        <% elsif results.first.event_id == "LOCKED" %>
          <div class="col-md-8">
            Creating Google Hangouts session. Please wait and then refresh your page later.
          </div>
        <% else %>
            <% icon_and_link = Project.get_hangout_join_icon(project) %>
            <%= link_to image_tag(icon_and_link[0], :size => '128x128') + "Join Hangout here", icon_and_link[1], style: 'font-size:150%;', class: 'css_class', target: :_blank %>
        <% end %>
          
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-md-4 story-labels">
          <%= "Milestones" %>
        </div>
        <div class="col-md-8">
          <%= simple_format(Project.get_milestones(project)) %>
        </div>
      </div>
    </li>
  </ul>
</div>